<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About <i>Boss Says What</i></h1>

<br />

<div class="col-xs-12 col-sm-4">
  <%= image_tag 'TK.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-8">

  <p>
    <i>Boss Says What</i> was built by <a href="https://github.com/tifkim">Tiffany</a>, a developer in training at the Firehose Project. After several years working in health IT, she decided she wanted to try her hand at creating technical solutions to complex problems.
</p>
</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
